<div id="popup_dialog" class="modal fade" aria-hidden="true">
    <div class="modal-dialog   modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="popup_dialog_title"></h4>
            </div>

            <div class="modal-body" id="popup_dialog_content">
                {%  include 'crud::crud/list.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ trans('crud::messages.close') }}</button>
            </div>
        </div>
    </div>
</div>
