{% extends "crud::page.twig" %}

{% block head %}
{% endblock %}
{% block content %}



    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                Welcome
            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}
{% endblock %}

{% block bc %}

{% endblock %}

