<div class="pull-right">
    <a href="#" title="Настроить колонки" data-click="crud_action" data-action="open_popup" data-popup="crud_table_columns" data-uri="{{ route('crud_table_columns') }}" data-model="{{ crudObj.model_name }}" data-context="{{ crudObj.config.context }}"><i class="fa fa-gear"></i></a>&nbsp;
    <a href="#" title="Обновить список" data-click="crud_action" data-action="refresh_table"><i class="fa fa-refresh"></i></a>
</div>
