{% if crudObj.config.getList('buttons.mass_delete') %}
    {% if (not crudObj.config.acl) or crudObj.config.acl|allowed('d') %}
        <a href="#" class="btn btn-danger crud_delete" disabled data-click="crud_action" data-action="table_mass_delete" data-ref="{{ crudObj.classViewName }}_{{ crudObj.config.scope }}">Удалить выбранные</a>
    {% endif %}
{% endif %}
