@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.ttf');  
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.ttf');
}




.veiled:after {
  background: rgba(255, 255, 255, .5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

.CodeMirror {
  height: 450px;
}

.dataTables_filter {float:right !important;}

.tt-menu {
  background-color: #fff;
  border: 1px solid #000;
}

.tt-suggestion.tt-cursor {
  background-color: #ccc;
}
.invalid_field {
  background-color: red;
}
.has-error label {
  color: #a94442;
}