{% import "crud::widgets/macro.twig" as widgets%}

{{ widgets.filters(crudObj) }}

<div class="row">
    <div class="col-lg-12">
        {%  if crudObj.isTree()%}
            {%  if crudList.getParam('type') == 'dt_tree' or crudList.getParam('type') == 'dt_flat' %}
                {{ widgets.table(crudObj) }}
            {% else  %}
                {{ widgets.tree(crudObj) }}
            {% endif %}

        {%  else  %}
            {{ widgets.table(crudObj) }}
        {% endif %}
    </div>
</div>