{% set COL_WIDTH = 10 %}
<div class="modal-dialog  {% if crudObj.confParam('dialog_class') %} {{ crudObj.confParam('dialog_class') }} {% endif %}" {{ crudObj.confParam('dialog_width') ? ('style="width: '~crudObj.confParam('dialog_width')~'px;"')|raw }}>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ trans('crud::messages.edit') }} {{ crudObj.confParam('ent_name_v') }}</h4>
        </div>

        <div class="modal-body row">
            <div class="col-lg-12">
            {% if form_tabbed %}
                    {% include 'crud::crud/form_tabbed.twig' %}
                {% else %}
                    {% include 'crud::crud/form.twig' %}
            {% endif %}
            </div>
        </div>
    </div>

</div>
