{% set COL_WIDTH = 6 %}
<div id="tab_{{ crudObj.view_ref }}" class="tab-pane" data-edit_tab="{{ crudObj.view_ref }}">
<div class="tab-panel" style="margin-top: 20px;">
{% if form_tabbed %}
  {% include 'crud::crud/form_tabbed.twig' %}
{% else %}
  {% include 'crud::crud/form.twig' %}
{% endif %}
</div>
</div>