<div id="tab_{{ crudObj.classViewName }}_{{ crudObj.config.scope }}_{{ id }}" class="tab-pane">
<div class="tab-panel">
{% if form_tabbed %}
  {% include 'crud::crud/form_tabbed.twig' %}
{% else %}
  {% include 'crud::crud/form.twig' %}
{% endif %}
</div>
</div>