<td style="width: 100px;" >
    <div class="checkbox">
        <label>
            <input type="checkbox"  value="1" name="relations[[NUM]][editable]"  data-toggle="collapse"  data-target="#editable_[NUM]" > Editable
        </label>
    </div>
</td>
<td class="col collapse" id="editable_[NUM]">
    <div class="col col-xs-6">
    <select name="relations[[NUM]][form_field]" class="form-control">
        <option value="">Choose field type</option>
        {% for k,v in wizard.getAvailableRelationFieldTypes() %}
            <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="col col-xs-6">
        <input type="text"  class="form-control" data-attr="name" name="relations[[NUM]][find]" placeholder="Data provider method"  ><br />
        <span id="helpBlock" class="help-block">The name of the relation model method that provides edit options. See documentation for the details.</span><br />
    <div class="checkbox">
        <label>
            <input type="checkbox" value="1" name="relations[[NUM]][required]" > Required
        </label>
    </div>
    </div>
</td>
