<td style="width: 300px;">
    <input type="text" style="width:300px;" class="form-control" data-attr="name" name="relations[[NUM]][name]" placeholder="Attribute name (underscore_case)*" required >
</td>