{% import "crud::wizard/macro.twig" as wiz_macros%}
<fieldset>
    <div class="panel panel-default">
        <div class="panel-body">
            <h2  style="margin-top: 0px;">Define editable fields (drag'n'drop to change order)</h2>

            <div id="f_container">
            {% set used_fields = [] %}
            {%  for f, fld in model.fields %}
                    {% if not fld.relation %}
                        {% set fkey   = f %}
                        {%  set f = fld.field?fld.field:f %}
                        {% set used_fields = used_fields|merge([f]) %}
                        {% if fld.fields %}
                            {% set used_fields = used_fields|merge(fld.fields) %}
                        {% endif %}
                    {%  include  'crud::wizard/blocks/fields/field_row' %}
                    {% endif %}
            {% endfor %}
            </div>
            <hr />

            <label>
                <h4>New field</h4>
                <select class="form-control default_select" id="field_existing" style="display:inline; width:250px;"  >
                    <option value="">Choose existing database table field</option>
                    {% for f in wizard.getTableColumns(table) %}
                    {% if f != 'id' and not (f in used_fields) %}
                        <option value="{{ f }}">{{ f }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                Or add a new one <input type="text" style="display:inline; width:150px;" id="field_new" />
                <a href="#" class="btn btn-success"  data-click="crud_action" data-action="wizard_add_field_row" ><i class="fa fa-plus"></i> Add</a>
            </label>



        </div>
    </div>
</fieldset>