{% set ALIAS = "_ALIAS_" %}
{% set fld = null %}

{% for k,v in wizard.getAvailableFieldTypes() %}
    {% if v.template_path %}
        <div class="form-inline" id="tpl_f_{{ k}}" style="display: none" >
            {% include v.template_path %}
        </div>
    {% endif %}
{% endfor %}
