
<fieldset>
    <h2  style="margin-top: 0px;">Define model relations</h2>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div id="r_container">
                        {%  if model.fields|length %}
                            {%  set NUM, ADD_REL = 0,1 %}
                            {% for relation_key, rel in model.fields %}
                                {% if rel.relation %}
                                    {% include 'crud::wizard/blocks/relations/'~rel.relation~'.twig' %}
                                    {%  set NUM=(NUM+1)  %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr />
                    <label>

                        <select class="form-control default_select" id="rtype" style="display:inline; width:250px;"  >
                            <option value="">Choose relation type</option>
                            <option value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_HAS_MANY') }}">Has many</option>
                            <option value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_HAS_ONE') }}">Has one</option>
                            <option value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_BELONGS_TO') }}">Belongs to</option>
                            <option value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_BELONGS_TO_MANY') }}">Belongs to many</option>
                        </select>
                        <a href="#" class="btn btn-success"  data-click="crud_action" data-action="wizard_add_relation" ><i class="fa fa-plus"></i> Add</a>
                    </label>
                </div>
            </div>
        </div>

    </div>
</fieldset>