<a href="#" class="btn btn-primary"
   data-click="crud_action"
   data-action="wizard_sort_options_popup"
   data-current_options_container="{{ sort_cop_container }}"
   data-model="{{ sort_model }}"
   data-model_field="{{ sort_model_field }}"
   data-display_container="{{ sort_display_container }}"
>
    <i class="fa fa-pencil"></i> Change sort options</a>