<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" title="Свернуть боковое меню"><i class="fa fa-bars"></i> </a>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message"></span>
            </li>




            <li>
                <a href="/auth/logout">
                    <i class="fa fa-sign-out"></i> Выйти
                </a>
            </li>
        </ul>

    </nav>
</div>