{% if input.config.acl|allowed %}
    {%  if input.config.type == 'multi_file' %}
        {% include input.controlTemplate() %}
    {%  else  %}

        <div class="form-group {{ input.config.css_class?input.config.css_class}}"  data-ref="{{ input.name }}">
           {% include input.controlTemplate() %}
            {%  if input.config.required %}
                <span class="help-block" data-rel="error" style="display: none">{{ trans('crud::messages.field_required') }}</span>
            {% endif %}
        </div>

    {% endif %}
{% endif %}