{% import "crud::crud.fields.macro" as controls %}
<div class="row">
    <div class="checkbox">
        <label for="{{ input.getUniqueId() }}">
            {{ controls.control(input) }}
            <span>{{ input.config.title }}</span>
        </label>
    </div>
</div>
