{%  if input.config.type == 'multi_file' %}
    {% include 'crud::crud/fields/'~input.config.type~'.twig' %}
{%  else  %}
<div class="form-group " >

    <div class="col-md-{{ COL_WIDTH?COL_WIDTH:12 }}">
     {% include 'crud::crud/fields/'~input.config.type~'.twig' %}
    </div>

</div>

{% endif %}