<div class="form-inline">
    от <input class="form-control" style="width: 70px;" name="{{ input.name }}_from" min="0"  type="number" step="1" value="{{ input.getValueFrom() }}">
    до <input class="form-control" style="width: 70px;"  name="{{ input.name }}_to" min="0"  type="number" step="1" value="{{ input.getValueTo() }}">
</div>
