<td style="width: 190px;">
    <label>Title *
    <input type="text" class="form-control" data-attr="title" name="relations[{{NUM}}][title]" value="{{ rel.title }}" placeholder="Title *" required >
    </label>
</td>