<td style="width: 300px;">
    <label>Attribute name (snake_case)*
    <input type="text" style="width:300px;" class="form-control" data-attr="name" value="{{ relation_key }}" name="relations[{{NUM}}][name]" placeholder="Attribute name (snake_case)*" required >
    </label>
</td>