<div class="form-inline" data-relation="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_HAS_ONE') }}"  {% if ADD_REL %} data-added="1" {%  else  %} id="tpl_rel_{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_HAS_ONE') }}" style="display: none"  {% endif %}>
<input type="hidden" name="relations[{{NUM}}][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_HAS_ONE') }}" />
<table class="table table-condensed table-striped">
    <tr>
        {% include 'crud::wizard/blocks/relations/choose_relation_title' %}
        {% include 'crud::wizard/blocks/relations/choose_relation_name' %}
        {% include 'crud::wizard/blocks/relations/choose_relation_model' %}
        {% include 'crud::wizard/blocks/relations/choose_relation_model_ref_col' %}
        <td></td>
        <div class="label label-default">Has one</div>&nbsp;&nbsp;
        <a href="#" data-click="crud_action" data-action="wizard_remove_relation" data-confirm="Remove this relation?" class="label label-danger">
            <i class="fa fa-trash-o"></i> Remove</a>
    </tr>
    <tr>
        {% set multiple = false %}
        {% include 'crud::wizard/blocks/relations/choose_relation_editable' %}
    </tr>
</table>
</div>