<label> Hint
    <input type="text" class="form-control" name="fields[{{ ALIAS }}][hint_default]" value="{{ fld.hint_default }}" placeholder="Hint" >
</label>

<label> Extra attributes
    <input type="text" class="form-control" name="fields[{{ ALIAS }}][extra]" value="{{ fld.extra }}" placeholder="Extra" >
</label>