<div class="form-group">
    <div class="col col-xs-4">
    {% include 'crud::wizard/blocks/fields/field_title.twig' %}
    </div>
    <div class="col col-xs-4">
        {% include 'crud::wizard/blocks/fields/field_hint.twig' %}
    </div>
    <div class="col col-xs-2">
        {% include 'crud::wizard/blocks/fields/field_required.twig' %}
    </div>
</div>